/* animations */

.fade-in-right {
    animation: fadeInRight 2s ease forwards;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-in-left {
    animation: fadeInLeft 2s ease forwards;
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.fade-out-left {
    animation: fadeOutLeft 2s ease forwards;
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
        /* display: none; */
    }
}

.fade-out-right {
    animation: fadeOutRight 2s ease forwards;
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
        /* display: none; */
    }
}


.fade-in-top {
    animation: fadeInTop 2s ease forwards;
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-bottom {
    animation: fadeInBottom 2s ease forwards;
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes dropShowEffect {
    0% {
        height: 0;
        /* width: 0; */
        /* padding: 0; */
        opacity: 1;
        /* border: none; */
    }

    100% {
        height: 480px;
        /* width: 400px; */
        /* padding: 1em; */
        opacity: 1;
    }
}


/* tooltip effects */

.tooltip {
    cursor: pointer;
    position: relative;
    /* display: inline-block; */
}

.tooltip::after {
    content: attr(data-title);
    position: absolute;
    bottom: 100%;
    /* Position above the element */
    /* left: 50%; */
    right: 20%;
    transform: translateX(-50%);
    background-color: #103F6D;
    /* Custom background color */
    color: white;
    /* Custom text color */
    padding: 0.5em;
    border-radius: 0.25em;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    z-index: 1000;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}