.footer-container {
    display: flex;
    flex-direction: row;
    gap: 16.4px;
    padding-top: 1em;
    padding-bottom: 8em;
    border-top: solid 1px #d9d9d9;
    background-color: #2d2d2d;
    color: white;
}

.footer-social-media {
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding-top: 5%;
    padding-right: 10%;
}

.footer-social-media a {
    color: white;
    text-decoration: none;
}

.footer-columns {
    /* border: 1px solid white; */
    margin: auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 2.5em;
    width: 100%;
}

.footer-column {
    /* border: 1px solid white; */
    width: 18em;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75em;
    padding: 0;
}

.footer-column > ul > h3 {
    /* border: 1px solid white; */
    flex-grow: 0;
    font-family: Inter;
    font-size: 1em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
}

.footer-column ul {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    text-align: center;
    list-style: none;
    /* border: 1px solid white; */
    padding: 0;
    margin: 0;

}

.footer-column li {

    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    gap: 0.75em;
}

/* Responsive design */
@media (max-width: 580px) {
    .footer-columns {
        flex-direction: column;
        align-items: center;

    }

    .footer-column {
        width: 100%;
        text-align: center;
    }
}